*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(185, 41%, 84%);
    display: flex;
    align-items: center;
    justify-content: center ;
    font-family: 'Space Mono', monospace;
    font-size: calc(11px + 5 * ((100vw - 450px) / 1470));
    /* overflow-x: hidden; */
}
:root{
    --brand: 172 67% 45%;
    --text: 183 100% 15%;
    --neutral1: 186 14% 43%;
    --neutral2: 185 41% 97%;
    --neutral4: 189 41% 97%;
    --white: 179 41% 99%;
}

